div.topic {
    font-size: 14pt;
    margin: 8px; padding: 4px;
    /* border: thin black solid; 
    background: #efe;
    */
    float: left;
    max-width: 400px;
    min-width: 20%;
    }
div.topic,a {
    display: block; margin-left: 0.5cm; font-size: 14pt;
    text-decoration: none;
    font-weight: normal;
    }
div.topic,div:first-child {
    color: brown;
    font-size: 18pt; font-weight: bold; padding: 8px;
    }
