
body { background: white; margin: 1em 1em; }
pre {
  border-top: thin solid black;
  border-bottom: thin solid black;
  padding: 0.6cm 2px;
}
div.box { margin: 1em; padding: 1em; border: thin solid black; }
div#book-cover { width: 600px; height: 800px; padding: 16px; text-align: center; }
div#book-cover-title { font-size: 64px; margin: 5cm 0px 1cm 0px; }
div#book-cover-title2 { font-size: 18px; margin: 0px 0px 1cm 0px; }
div#book-cover-author { font-size: 32px; margin: 1cm 0px; }
div#book-cover-other { font-size: 16px; margin: 1cm 0px; }
#cover-image { position: relative; }
#cover-image img { display: block; margin: 2px auto; -width: 96%; }

#index {
    position: fixed;
    max-width: 50px;
    max-height: 80%;
    background: skyblue;
    padding: 10px;
    overflow: hidden;
}
#index>div { max-width: 1px; visibility: hidden; }
#index:hover>div { max-width: none; visibility: visible; }
#index:hover {
    max-width: 40%;
    overflow: auto;
    border: thin solid black;
}
#index div.ci1 { margin-left: 0em; }
#index div.ci2 { margin-left: 2em; }

#content-wrapper {
    margin-left: 50px;
}
