body { background: white; margin: 1em 1em; }
pre {
  border-top: thin solid black;
  border-bottom: thin solid black;
  padding: 0.6cm 2px;
}
div.box { margin: 1em; padding: 1em; border: thin solid black; }
#cover-image { position: relative; }
#cover-image img { display: block; margin: 2px auto; -width: 96%; }
